# Assignment_Binary Logistic Regression using Python

BACKGROUND:

The Data for a Study of Risk Factors Associated with Low Infant Birth Weight. Data were collected at Baystate Medical Center, Springfield, Massachusetts.

Step 1: Import Libraries

In [32]:
from dotenv import load_dotenv
load_dotenv()

True

In [37]:
import os
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

Step 2: Pull dataset from Neon.Tech PostgreSQL database and prepare for EDA

In [40]:
# Load environment variables
load_dotenv()

# Fetch and encode credentials
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
password_raw = os.getenv("DB_PASSWORD")

if not all([DB_HOST, DB_PORT, DB_NAME, DB_USER, password_raw]):
    raise EnvironmentError("One or more database environment variables are missing.")

DB_PASSWORD = quote_plus(password_raw)

# Create connection string
conn_str = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Connect and query
engine = create_engine(conn_str)
birth_wt_data = pd.read_sql("SELECT * FROM birth_weight", engine)
birth_wt_data.head()

   sr_no    id  low   age    lwt  race  smoke  ptl   ht   ui  ftv
0    1.0  85.0  0.0  19.0  182.0   2.0    0.0  0.0  0.0  0.0  0.0
1    2.0  86.0  0.0  33.0  155.0   3.0    0.0  0.0  0.0  0.0  3.0
2    3.0  87.0  0.0  20.0  105.0   1.0    1.0  0.0  0.0  0.0  1.0
3    4.0  88.0  0.0  21.0  108.0   1.0    1.0  0.0  0.0  1.0  2.0
4    5.0  89.0  0.0  18.0  107.0   1.0    1.0  0.0  0.0  1.0  0.0

Step 3: Save pulled data set into the local folder for further analysis

In [41]:
# Set Working Directory
os.chdir(r"C:\Users\willi\GitHub\APM_low_infant_birth_wt_PY\data\raw")

In [42]:
birth_wt_data.to_csv(r"birth_weight_raw.csv", index=False)
print("✅ Raw data saved successfully.")

✅ Raw data saved successfully.